/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list],
li {
  list-style: none;
}

ul {
  padding: 0;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  /* text-rendering: optimizeSpeed; */
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Space Grotesk", sans-serif;
}
html ::-webkit-scrollbar {
  width: 6px;
}
html ::-webkit-scrollbar-thumb {
  background-color: #666;
}

.flow > * + * {
  margin-top: var(--flow-space, 1em);
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-30 {
  font-size: 30px;
}

.color-accent-1 {
  color: #ff5c1a;
}

.bg-color-accent-1 {
  background-color: #ff5c1a;
}

.bg-color-black {
  background-color: black;
}

.fw400 {
  font-weight: 400;
}

.fw500 {
  font-weight: 500;
}

.fw700 {
  font-weight: 700;
}

.grid-auto-columns {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
@media (max-width: 900px) {
  .grid-auto-columns {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (max-width: 600px) {
  .grid-auto-columns {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.flex {
  display: flex;
  gap: var(--flex-space, 1rem);
}

.space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.container {
  max-width: 1100px;
  width: 85%;
  margin: 0 auto;
}

.pointer {
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

.header {
  padding: 0.5rem;
  position: sticky;
  top: -1px;
  z-index: 1000;
}

@media (max-width: 950px) {
  .navigation {
    position: fixed;
    inset: -16px 30% -16px -1px;
    flex-direction: column;
    padding-top: 4rem;
    gap: 2rem;
    align-items: center;
    overflow: auto;
    background: #fff;
    transform: translateX(-100%);
    transition: transform 350ms ease-out;
  }
  .navigation[data-visible=true] {
    transform: translateX(0);
  }
}

.hamburguer {
  display: none;
  cursor: pointer;
  position: absolute;
  width: 2.5rem;
  aspect-ratio: 1;
  background-color: transparent;
  border: none;
  top: 4px;
  z-index: 9999;
}
.hamburguer span {
  display: block;
  position: relative;
}
.hamburguer span,
.hamburguer span::before,
.hamburguer span::after {
  width: 1.7em;
  height: 3px;
  background-color: black;
  transition: transform 350ms ease-in-out, opacity 200ms linear;
}
.hamburguer span {
  transition: transform 350ms ease-in-out;
}
.hamburguer span::before,
.hamburguer span::after {
  content: "";
  position: absolute;
  left: 0;
}
.hamburguer span::before {
  bottom: 6px;
}
.hamburguer span::after {
  top: 6px;
}
.hamburguer[data-visible=true] span {
  transform: rotate(45deg);
}
.hamburguer[data-visible=true] span::after {
  transform: rotate(90deg) translate(-6px);
}
.hamburguer[data-visible=true] span::before {
  opacity: 0;
}
@media (max-width: 950px) {
  .hamburguer {
    display: block;
  }
}

.search-input {
  border: 2px solid black;
  background-color: #ff5c1a;
}
.search-input::placeholder {
  color: black;
  font-weight: 700;
}
.search-input:focus {
  outline: 2px solid white;
}

.product-card {
  padding: 1rem;
  border-radius: 5px;
  display: grid;
  gap: 0.5rem;
  box-shadow: 1px 2px 9px 3px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 1px 2px 9px 3px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 1px 2px 9px 3px rgba(0, 0, 0, 0.15);
}
.product-card img {
  justify-self: center;
}

/*# sourceMappingURL=styles.css.map */
